/flynk-ui/node_modules
/flynk-server/node_modules

/flynk-ui/dist
/flynk-ui/tmp
/flynk-ui/out-tsc
/flynk-ui/bazel-out

/flynk-ui/npm-debug.log
/flynk-ui/yarn-error.log

/flynk-ui/.vscode/*
/flynk-ui/.vscode/*
/flynk-ui/!.vscode/settings.json
/flynk-ui/!.vscode/tasks.json
/flynk-ui/!.vscode/launch.json
/flynk-ui/!.vscode/extensions.json
/flynk-ui/.history/*
/flynk-ui/.angular/cache